+projectScript('vendor/modernizr-2.7.1.min.js')

- if ( build === 'dev' )
  +projectScript('vendor/jquery.js')
  +projectScript('vendor/jquery-migrate.js')
  +projectScript('vendor/socket.io.js')
- else
  +projectScript('vendor/jquery.min.js')
  +projectScript('vendor/jquery-migrate.min.js')
  +projectScript('vendor/socket.io.min.js')
